<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<title>EVENTOS</title>
	<link rel="stylesheet" th:href="@{/CSS/PaginaBase.css}">
</head>
<body>
<header>
	<a
			href="https://blogsaverroes.juntadeandalucia.es/iestorrredelosguzmanes/"
			target="_blank"> <img th:src="@{/Fotos/logo.svg}"
								  alt="Logotipo Instituto" id="logo">
	</a>

	<div class="fondo"
		 style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;
				 opacity: 0.3; z-index: -1;">

	</div>
	<h1 align="center">Eventos</h1>
	<div class="contenedorBotonInicio">		</div>
</header>

<main>
	<div></div>
	<div class="cajaDeBotones">
		<button class="botones"
				onclick="window.location.href='crm'">Ver
			CRM</button>
		<button class="botones"
				onclick="window.location.href='ventas'">Ver
			Ventas</button>
		<button class="botones"
				onclick="window.location.href='dashboards'">Ver
			Dashboards </button>


	</div>
</main>
<script>
	function goHome() {
		window.location.href = "/eventosProyecto/index";
	}
</script>
</body>
</html>