<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Listado Páginas</title>
</head>
<body>

<h1>Listado de Páginas Web</h1>

<table border="1">
    <thead>
        <tr>
            <th>Id_Pagina</th>
            <th>Titulo</th>
            <th>Url</th>
            <th>Contenido_HTML</th>
            <th>Fecha_Creacion</th>
            <th>Fecha_Modificacion</th>
            <th>Id_Tipo_Pagina</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="pagina : ${paginas}">
            <td th:text="${pagina.idPagina}"></td>
            <td th:text="${pagina.titulo}"></td>
            <td th:text="${pagina.url}"></td>
            <td th:text="${pagina.contenidoHTML}"></td>
            <td th:text="${pagina.fechaCreacion}"></td>
            <td th:text="${pagina.fechaModificacion}"></td>
            <td th:text="${pagina.idTipoPagina}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
