<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad</title>
    <link rel="stylesheet" th:href="@{/CSS/generalRelaciones.css}">
</head>
<body>
    <header>
        <h1>Actividad</h1>
        <a th:href="@{/relaciones}">
            <button type="button">&#8592; Atrás</button>
        </a>
    </header>

    <main>
        <span th:each="Patrocinio : ${Patrocinio}">
        </span>
        <span th:text="${Patrocinio.ID_Patrocinio}"
              ></span>
        <span th:text="${Patrocinio.Firma}"></span>
    </main>
</body>
</html>