<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial Oportunidad</title>
    <link rel="stylesheet" th:href="@{/CSS/generalRelaciones.css}">
</head>
<body>
<header>
    <h1>Historial Oportunidad</h1>
    <a th:href="@{/relaciones}">
        <button type="button">&#8592; Atrás</button>
    </a>
</header>

<main>
    <table border="1">
        <thead>
        <tr>
            <th>ID Historial</th>
            <th>Iteraciones</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>ID Recinto (Nombre)</th>
            <th>ID Organización (Nombre)</th>
            <th>ID Oportunidad (Título)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ho : ${historiales}">
            <td th:text="${ho.idHistorial}">1</td>
            <td th:text="${ho.iteraciones}">3</td>
            <td th:text="${ho.fechaInicio != null ? ho.fechaInicio : '---'}">2026-06-10</td>
            <td th:text="${ho.fechaFin != null ? ho.fechaFin : '---'}">2026-06-12</td>

            <td th:text="${ho.idRecinto != null ? ho.idRecinto.idRecinto + ' - ' + ho.idRecinto.nombre : '---'}">1 - Teatro Central</td>
            <td th:text="${ho.idOrganizacion != null ? ho.idOrganizacion.idOrganizacion + ' - ' + ho.idOrganizacion.nombre : '---'}">1 - Tech Solutions</td>
            <td th:text="${ho.idOportunidad != null ? ho.idOportunidad.idOportunidad + ' - ' + ho.idOportunidad.titulo : '---'}">1 - Feria Empleo</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>