<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oportunidad</title>
    <link rel="stylesheet" th:href="@{/CSS/generalRelaciones.css}">
</head>
<body>
<header>
    <h1>Oportunidades</h1>
    <a th:href="@{/relaciones}">
        <button type="button">&#8592; Atrás</button>
    </a>
</header>

<main>
    <table border="1">
        <thead>
        <tr>
            <th>ID Oportunidad</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Estado</th>
            <th>Presupuesto</th>
            <th>ID Persona</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ho : ${historiales}" th:if="${ho.idOportunidad != null}">
            <td th:text="${ho.idOportunidad.idOportunidad}">1</td>
            <td th:text="${ho.idOportunidad.titulo}">Feria de Empleo</td>
            <td th:text="${ho.idOportunidad.descripcion}">Feria de Empleo Tecnológico</td>
            <td th:text="${ho.idOportunidad.fechaInicio != null ? ho.idOportunidad.fechaInicio : '---'}">2026-06-10</td>
            <td th:text="${ho.idOportunidad.fechaFin != null ? ho.idOportunidad.fechaFin : '---'}">2026-06-12</td>
            <td th:text="${ho.idOportunidad.estado}">Aprobado</td>
            <td th:text="${ho.idOportunidad.presupuesto}">150000</td>
            <td th:text="${ho.idOportunidad.idPersona}">1</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>