<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recinto</title>
    <link rel="stylesheet" th:href="@{/CSS/generalRelaciones.css}">
</head>
<body>
    <header>
        <h1>Recinto</h1>
        <a th:href="@{/relaciones}">
            <button type="button">&#8592; Atrás</button>
        </a>
    </header>

    <main>
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Capacidad</th>
                <th>Ubicación</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rec : ${recintos}">
                <td th:text="${rec.idRecinto}">1</td>
                <td th:text="${rec.nombre}">Teatro Central</td>
                <td th:text="${rec.capacidad}">500</td>
                <td th:text="${rec.ubicacion}">Planta Alta</td>
            </tr>
            </tbody>
        </table>
    </main>
</body>
</html>