<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Asignar Ponente a Ponencia</title>

        <!--Estilo Lili-->
        <link rel="stylesheet" href="/css/modulo1.css">
    </head>
    <body>
        <header>
            <h1>Gestión de Eventos Educativos</h1>
            <nav>
                <ul>
                    <li><a href="/html/Listado_Eventos.html">Eventos</a></li>
                    <li><a href="/html/Listado_Ponencias.html">Ponencias</a></li>
                    <li><a href="/html/Listado_Ponentes.html">Ponentes</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h2>Opciones</h2>
            <ul>
                <li><a href="/html/Listado_Ponentes.html">Listado de ponentes</a></li>
                <li><a href="/html/Registrar_Ponente.html">Registrar ponente</a></li>
                <li><a href="/html/Asignacion_Ponente-Ponencia.html">Asignar ponente a ponencia</a></li>
            </ul>
        </aside>
        <main>
            <section class="contenido-secundario">
                <h2>Asignar ponente a ponencia</h2>
                <form action="#" method="post" th:object="${asignacion}">
                    <fieldset>
                        <legend>Datos de asignación</legend>

                        <!-- PONENCIA -->
                        <label for="ponencia">Selecciona una ponencia:</label>
                        <select id="ponencia" name="ponencia">
                            <option value="">Elige una opción:</option>
                            <option th:each="ponencia : ${ponencias}" th:value="${ponencia.id}" th:text="${ponencia.titulo}"></option>
                        </select>

                        <!-- PONENTE -->
                        <label for="ponente">Selecciona un ponente:</label>
                        <select id="ponente" name="ponente">
                            <option value="">Elige una opción:</option>
                            <option th:each="ponente : ${ponentes}" th:value="${ponente.id}" th:text="${ponente.nombre}"></option>
                        </select>

                        <button type="submit">Asignar ponente</button>
                    </fieldset>
                </form>
            </section>
        </main>
        <footer>
            <p>© 2026 Gestión de Eventos</p>
        </footer>
    </body>
</html>