<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asignar Ponente a Ponencia</title>
    <link rel="stylesheet" th:href="@{/CSS/modulo1.css}">
</head>
<body>
<header>
    <h1>Gestión de Eventos Educativos</h1>
    <nav><ul>
        <li><a th:href="@{/participantes/Listado_Eventos}">Eventos</a></li>
        <li><a th:href="@{/participantes/Listado_Ponencias}">Ponencias</a></li>
        <li><a th:href="@{/participantes/Listado_Ponentes}">Ponentes</a></li>
    </ul></nav>
</header>
<aside>
    <h2>Casos de uso</h2>
    <ul>
        <li><a th:href="@{/participantes/Crear_Evento}">Crear Evento</a></li>
        <li><a th:href="@{/participantes/Listado_Eventos}">Listado Eventos</a></li>
        <li><a th:href="@{/participantes/Crear_Ponencia}">Crear Ponencia</a></li>
        <li><a th:href="@{/participantes/Listado_Ponencias}">Listado de ponencias</a></li>
        <li><a th:href="@{/participantes/Registrar_Ponente}">Registrar Ponente</a></li>
        <li><a th:href="@{/participantes/Listado_Ponentes}">Listado de ponentes</a></li>
        <li><a th:href="@{/participantes/Asignacion_Ponencia-Evento}">Asignación Ponencia-Evento</a></li>
        <li><a th:href="@{/participantes/Asignacion_Ponente-Evento}">Asignación Ponente-Evento</a></li>
        <li><a th:href="@{/participantes/Asignacion_Ponente-Ponencia}">Asignación Ponente-Ponencia</a></li>
    </ul>
</aside>
<main>
    <section class="contenido-secundario">
        <h2>Asignar ponente a ponencia</h2>
        <form th:action="@{/participantes/Asignacion_Ponente-Ponencia}" method="post">
            <fieldset>
                <legend>Datos de asignación</legend>

                <label for="idPonente">Selecciona un ponente:</label>
                <select id="idPonente" name="idPonente">
                    <option value="">Elige una opción:</option>
                    <option th:each="ponente : ${ponentes}"
                            th:value="${ponente.idPonente}"
                            th:text="${ponente.especialidad}">
                    </option>
                </select>

                <label for="idPonencia">Selecciona una ponencia:</label>
                <select id="idPonencia" name="idPonencia">
                    <option value="">Elige una opción:</option>
                    <option th:each="ponencia : ${ponencias}"
                            th:value="${ponencia.id_Ponencia}"
                            th:text="${ponencia.titulo}">
                    </option>
                </select>

                <button type="submit">Asignar ponente</button>
            </fieldset>
        </form>
    </section>
</main>
<footer><p>© 2026 Gestión de Eventos</p></footer>
</body>
</html>