<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Crear Ponencia</title>

        <!--Estilo Lili-->
        <link rel="stylesheet" href="/css/modulo1.css">
    </head>
    <body>
        <header>
            <h1>Gestión de Eventos Educativos</h1>
            <nav>
                <ul>
                    <li><a href="/html/Listado_Eventos.html">Eventos</a></li>
                    <li><a href="/html/Listado_Ponencias.html">Ponencias</a></li>
                    <li><a href="/html/Listado_Ponentes.html">Ponentes</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h2>Opciones</h2>
            <ul>
                <li><a href="/html/Listado_Ponencias.html">Listado de ponencias</a></li>
                <li><a href="/html/Crear_Ponencia.html">Crear ponencia</a></li>
            </ul>
        </aside>
        <main>
            <section class="contenido-secundario">
                <h2>Crear nueva ponencia</h2>
                <form action="#" method="post" th:object="${ponencia}">
                    <fieldset>
                        <legend>Datos de la ponencia</legend>
                        <label for="titulo">Título:</label>
                        <input type="text" id="titulo" name="titulo" th:value="${ponencia.titulo}" required>

                        <label for="duracion"> Duración:</label>
                        <input type="number" id="duracion" name="duracion" th:value="${ponencia.duracion}" required>

                        <label for="fecha"> Fecha: </label>
                        <input type="date" id="fecha" name="fecha" th:value="${ponencia.fecha}" required>

                        <label for="hora">Hora:</label>
                        <input type="time" id="hora" name="hora" th:value="${ponencia.hora}" required>

                        <label for="ubicacion">Ubicación:</label>
                        <input type="text" id="ubicacion" name="ubicacion" th:value="${ponencia.ubicacion}" required>

                        <label for="sala">Sala:</label>
                        <input type="text" id="sala" name="sala" th:value="${ponencia.sala}" required>

                        <label for="nivel">Nivel:</label>
                        <select id="nivel" name="nivel">
                            <option value="">Elige una opción:</option>
                            <option th:each="nivel : ${niveles}" th:value="${nivel}" th:text="${nivel}"></option>
                        </select>

                        <label for="tipo">Tipo:</label>
                        <select id="tipo" name="tipo">
                            <option value="">Elige una opción:</option>
                            <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}">
                            </option>
                        </select>

                        <label for="formato">Formato:</label>
                        <select id="formato" name="formato">
                            <option value="">Elige una opción:</option>
                            <option th:each="formato : ${formatos}" th:value="${formato}" th:text="${formato}"></option>
                        </select>

                        <label for="tematica">Temática:</label>
                        <select id="tematica" name="tematica">
                            <option value="">Elige una opción:</option>
                            <option th:each="tematica: ${tematicas}" th:value="${tematica.id}" th:text="${tematica.tema}">
                            </option>
                        </select>

                        <label for="evento">Evento asociado:</label>
                        <select id="evento" name="evento">
                            <option value="">Elige una opción:</option>
                            <option th:each="evento : ${eventos}" th:value="${evento.id}" th:text="${evento.nombre}"></option>
                        </select>

                        <button type="submit">Crear ponencia</button>
                    </fieldset>
                </form>
            </section>
        </main>
        <footer>
            <p>© 2026 Gestión de Eventos Educativos</p>
        </footer>
    </body>
</html>