<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Detalle del Evento</title>
        <!--Estilo Lili-->
        <link rel="stylesheet" href="css/estilos.css">
    </head>

    <body>

        <header>
            <h1>Gestión de Eventos Educativos</h1>
            <nav>
                <ul>
                    <li><a href="/html/Listado_Eventos.html">Eventos</a></li>
                    <li><a href="/html/Listado_Ponencias.html">Ponencias</a></li>
                    <li><a href="/html/Listado_Ponentes.html">Ponentes</a></li>
                </ul>
            </nav>
        </header>

        <aside>
            <h2>Opciones</h2>
            <ul>
                <li><a href="/html/Listado_Eventos.html">Listado de eventos</a></li>
                <li><a href="/html/Crear_Evento.html">Crear evento</a></li>
                <li><a href="/html/Modificar_Evento.html">Modificar evento</a></li>
            </ul>
        </aside>

        <main>
            <section>
                <h2>Detalle del evento</h2>

                <article>
                    <h3>InnovaCode: Jornadas de Programación y BBDD</h3>

                    <p><strong>ID del evento:</strong> 1</p>

                    <p><strong>Descripción:</strong><br>
                    Evento centrado en programación, bases de datos y tendencias tecnológicas.</p>

                    <p><strong>Fecha de inicio:</strong>
                        <time datetime="2026-06-20">20 de junio de 2026</time>
                    </p>

                    <p><strong>Fecha de fin:</strong>
                        <time datetime="2026-06-21">21 de junio de 2026</time>
                    </p>

                    <p><strong>Dirección:</strong> Calle Leonardo Da Vinci, 18</p>
                    <p><strong>Ciudad:</strong> Sevilla</p>
                    <p><strong>Capacidad:</strong> 150 personas</p>

                    <p><strong>Estado:</strong> Cerrado</p>
                    <p><strong>Modalidad:</strong> Híbrido</p>
                    <p><strong>Lugar:</strong> TecnoIncubadora Marie Curie</p>

                    <figure>
                        <!--Añadir una imágen-->
                        <img src="" alt="Imagen del evento InnovaCode" width="350">
                        <figcaption>Imagen representativa del evento InnovaCode.</figcaption>
                    </figure>
                </article>

            </section>
        </main>

        <footer>
            <p>© 2026 Gestión de Eventos</p>
        </footer>

    </body>
</html>
