<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Gestión de Eventos: Inicio</title>
        <!--Estilo Lili-->
        <link rel="stylesheet" th:href="@{/CSS/modulo1.css}">
    </head>

    <body>

        <header>
            <h1>Gestión de Eventos Educativos</h1>
            <nav>
                <ul>
                    <li><a href="participantes/Listado_Eventos">Eventos</a></li>
                    <li><a href="participantes/Listado_Ponencias">Ponencias</a></li>
                    <li><a href="participantes/Listado_Ponentes">Ponentes</a></li>
                </ul>
            </nav>
        </header>

        <aside>
            <h2>Casos de uso</h2>
            <ul>
                <li><a href="participantes/Crear_Evento">Crear evento</a></li>
                <li><a href="participantes/Modificar_Evento">Modificar evento</a></li>
                <li><a href="participantes/Listado_Eventos">Listado de eventos</a></li>
                <li><a href="participantes/Detalle_Evento">Detalle de evento</a></li>
                <li><a href="participantes/Crear_Ponencia">Crear ponencia</a></li>
                <li><a href="participantes/Asignacion_Ponencia-Evento">Asignar ponencia a evento</a></li>
                <li><a href="participantes/Asignacion_Ponente-Evento">Asignar ponente a ponencia</a></li>
                <li><a href="participantes/Listado_Ponencias">Listado de ponencias</a></li>
                <li><a href="participantes/Registrar_Ponente">Registrar ponente</a></li>
                <li><a href="participantes/Asignacion_Ponente-Evento">Asignar ponente a evento</a></li>
                <li><a href="participantes/Listado_Ponentes">Listado de ponentes</a></li>
            </ul>
        </aside>

        <main class="principal">
            <section class="contenido-secundario">
                <h2>Bienvenida</h2>
                <article>
                    <p>
                        <strong>Gestión de Eventos Educativos</strong>.  
                        Desde aquí puedes acceder a los formularios, listados y vistas detalladas 
                        de eventos, ponencias y ponentes.
                    </p>

                    <p>
                        Usa el menú lateral para navegar entre los distintos casos de uso.
                    </p>
                </article>
            </section>
        </main>

        <footer>
            <p>© 2026 Gestión de Eventos</p>
        </footer>

    </body>
</html>
