<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Listado de Ponentes</title>
        <!--Estilo Lili-->
        <link rel="stylesheet" th:href="@{/CSS/modulo1.css}">
    </head>
    <body>

    <header>
        <h1>Gestión de Eventos Educativos</h1>
        <nav>
            <ul>
                <li><a th:href="@{/participantes/Listado_Eventos}">Eventos</a></li>
                <li><a th:href="@{/participantes/Listado_Ponencias}">Ponencias</a></li>
                <li><a th:href="@{/participantes/Listado_Ponentes}">Ponentes</a></li>
            </ul>
        </nav>
    </header>

    <aside>
        <h2>Casos de uso</h2>
        <ul>
            <li><a th:href="@{/participantes/Crear_Evento}">Crear Evento</a></li>
            <li><a th:href="@{/participantes/Modificar_Evento}">Modificar Evento</a></li>
            <li><a th:href="@{/participantes/Listado_Eventos}">Listado Eventos</a></li>
            <li><a th:href="@{/participantes/Crear_Ponencia}">Crear Ponencia</a></li>
            <li><a th:href="@{/participantes/Asignacion_Ponencia-Evento}">Asignación Ponencia-Evento</a></li>
            <li><a th:href="@{/participantes/Asignacion_Ponente-Evento}">Asignación Ponente-Evento</a></li>
            <li><a th:href="@{/participantes/Listado_Ponencias}">Listado de ponencias</a></li>
            <li><a th:href="@{/participantes/Registrar_Ponente}">Registrar Ponente</a></li>
            <li><a th:href="@{/participantes/Asignacion_Ponente-Evento}">Asignar ponente a evento</a></li>
            <li><a th:href="@{/participantes/Listado_Ponentes}">Listado de ponentes</a></li>
        </ul>
    </aside>
        <main>
            <section class="contenido-secundario">

                <h2>Listado de ponentes</h2>

                <table>

                    <caption>Ponentes registrados</caption>

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Especialidad</th>
                        <th>Nivel de impartición</th>
                        <th>Bio</th>
                        <th>CV</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="ponente : ${ponentes}">

                        <td th:text="${ponente.idPonente}"></td>

                        <td th:text="${ponente.especialidad}"></td>

                        <td>
                            <select name="nivelImparticion">

                                <option th:each="nivel : ${niveles}"
                                        th:value="${nivel}"
                                        th:text="${nivel}"
                                        th:selected="${nivel == ponente.nivelImparticion}">
                                </option>

                            </select>
                        </td>

                        <td th:text="${ponente.BIO}"></td>

                        <td th:text="${ponente.CV}"></td>

                    </tr>

                    </tbody>

                </table>

            </section>
        </main>
        <footer>
            <p>© 2026 Gestión de Eventos</p>
        </footer>
    </body>
</html>