<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Listado de Ponentes</title>
        <!--Estilo Lili-->
        <link rel="stylesheet" href="">
    </head>

    <body>

        <header>
            <h1>Gestión de Eventos Educativos</h1>
            <nav>
                <ul>
                    <li><a href="/html/Listado_Eventos.html">Eventos</a></li>
                    <li><a href="/html/Listado_Ponencias.html">Ponencias</a></li>
                    <li><a href="/html/Listado_Ponentes.html">Ponentes</a></li>
                </ul>
            </nav>
        </header>

        <aside>
            <h2>Opciones</h2>
            <ul>
                <li><a href="/html/Listado_Ponentes.html">Listado de ponentes</a></li>
                <li><a href="/html/Registrar_Ponente.html">Registrar ponente</a></li>
            </ul>
        </aside>

        <main>
            <section>
                <h2>Listado de ponentes</h2>

                <table>
                    <caption>Ponentes registrados</caption>

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Especialidad</th>
                            <th>Nivel de impartición</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Docente</td>
                            <td>Especializado</td>
                            <td>BBDD</td>
                            <td>FP</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Especialista</td>
                            <td>Java</td>
                            <td>Programación Java</td>
                            <td>FP</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Programador</td>
                            <td>Universitario</td>
                            <td>Programación</td>
                            <td>Universidad</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>Profesor</td>
                            <td>Universitario</td>
                            <td>BBDD</td>
                            <td>Universidad</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>Especialista</td>
                            <td>JavaScript</td>
                            <td>JS</td>
                            <td>Postgrados</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>Programador</td>
                            <td>Python</td>
                            <td>Python</td>
                            <td>FP</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td>Desarrollador</td>
                            <td>Frontend</td>
                            <td>Frontend</td>
                            <td>FP</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td>Profesor</td>
                            <td>Secundaria</td>
                            <td>IA</td>
                            <td>Secundaria</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>9</td>
                            <td>Anthony</td>
                            <td>West</td>
                            <td></td>
                            <td>Universidad</td>
                            <td>anthony@gmail</td>
                            <td>666778844</td>
                        </tr>

                        <tr>
                            <td>10</td>
                            <td>Luna</td>
                            <td>Rodríguez</td>
                            <td></td>
                            <td>FP</td>
                            <td></td>
                            <td>657199741</td>
                        </tr>
                    </tbody>
                </table>

            </section>
        </main>

        <footer>
            <p>© 2026 Gestión de Eventos</p>
        </footer>

    </body>
</html>
