  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
            font-family: 'Roboto', sans-serif;
            position: relative;
            z-index: 0;
        }


        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #2d97d0;
            color: black;
        }

        #logo {
            height: 120px;
        }

        h1 {
            font-size: 48px;
            font-weight: bold;
            font-style: italic;
        }

        .contenedorBotonInicio button {
            font-size: 24px;
            padding: 5px 50px;
            border-radius: 50px;
            background-color: white;
            cursor: pointer;
        }

        principal {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 500px;
        }

        .cajaDeBotones {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .botones {
            width: 300px;
            padding: 15px;
            font-size: 20px;
            font-weight: bold;
            background-color: #3348cb;
            color: black;
            border: none;
            border-radius: 50px;
        }

        .botones:hover {
            background-color: #7f85d7;
            cursor: pointer;
        }