<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Asignar Ponente a Evento</title>

        <!--Estilo Lili-->
        <link rel="stylesheet" href="/css/modulo1.css">
    </head>
    <body>
        <header>
            <h1>Gestión de Eventos Educativos</h1>
            <nav>
                <ul>
                    <li><a href="/html/Listado_Eventos.html">Eventos</a></li>
                    <li><a href="/html/Listado_Ponencias.html">Ponencias</a></li>
                    <li><a href="/html/Listado_Ponentes.html">Ponentes</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h2>Opciones</h2>
            <ul>
                <li><a href="/html/Listado_Eventos.html">Listado de eventos</a></li>
                <li><a href="/html/Crear_Evento.html">Crear evento</a></li>
                <li><a href="/html/Asignacion_Ponente-Evento.html">Asignar ponente a evento</a></li>
            </ul>
        </aside>
        <main>
            <section class="contenido-secundario">
                <h2>Asignar ponente a evento</h2>

                <form action="#" method="post" th:object="${asignacion}">
                    <fieldset>
                        <legend>Datos de asignación</legend>

                        <!-- EVENTO -->
                        <label for="evento">Selecciona un evento:</label>
                        <select id="evento" name="evento">
                            <option value="">Elige una opción:</option>
                            <option th:each="evento : ${eventos}" th:value="${evento.id}" th:text="${evento.nombre}"></option>
                        </select>

                        <!-- PONENTE -->
                        <label for="ponente">Selecciona un ponente:</label>
                        <select id="ponente" name="ponente">
                            <option value="">Elige una opción:</option>
                            <option th:each="ponente : ${ponentes}" th:value="${ponente.id}" th:text="${ponente.nombre}"></option>
                        </select>

                        <button type="submit">Asignar ponente</button>
                    </fieldset>
                </form>
            </section>
        </main>
        <footer>
            <p>© 2026 Gestión de Eventos</p>
        </footer>
    </body>
</html>
