<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Listado de Ponentes</title>
        <!--Estilo Lili-->
        <link rel="stylesheet" href="/css/modulo1.css">
    </head>
    <body>
        <header>
            <h1>Gestión de Eventos Educativos</h1>
            <nav>
                <ul>
                    <li><a href="/html/Listado_Eventos.html">Eventos</a></li>
                    <li><a href="/html/Listado_Ponencias.html">Ponencias</a></li>
                    <li><a href="/html/Listado_Ponentes.html">Ponentes</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h2>Opciones</h2>
            <ul>
                <li><a href="/html/Listado_Ponentes.html">Listado de ponentes</a></li>
                <li><a href="/html/Registrar_Ponente.html">Registrar ponente</a></li>
            </ul>
        </aside>
        <main>
            <section class="contenido-secundario">
                <h2>Listado de ponentes</h2>
                <table>
                    <caption>Ponentes registrados</caption>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Especialidad</th>
                            <th>Nivel de impartición</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ponente: ${ponentes}">
                            <td th:text="${ponente.id}">1</td>
                            <td th:text="${ponente.nombre}">Docente</td>
                            <td th:text="${ponente.apellidos}">Especializado</td>
                            <td th:text="${ponente.especialidad}">BBDD</td>
                            <td th:text="${ponente.nivelImparticion}">FP</td>
                            <td th:text="${ponente.correo}"></td>
                            <td th:text="${ponente.telefono}"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
        <footer>
            <p>© 2026 Gestión de Eventos</p>
        </footer>
    </body>
</html>